<main class="main-content">
<p>¿Cuántas veces en la vida se puede disfrutar de una cena/almuerzo de categoría desde el punto mas alto de una ciudad y con vistas panorámicas de Tandil? Disfruta de los deliciosos manjares preparados por el chef Thierry Marx en el restaurante Castillo Morisco.</p>
<img class="img-principal" src="assets/images/foto-castillo-morisco.svg" alt="foto-castillo-morisco">
<p>¿Por qué deberías cenar en el Castillo Morisco? Hay muchas razones para optar por esta experiencia única:
<ul>
    <li><p>Cena con vistas: obtén una vista panorámica de Tandil desde lo mas alto y disfruta de una experiencia gastronómica única en el restaurante Castillo Morisco.</p></li>
    <li><p>Disfruta de una deliciosa comida: prueba la comida serrana de temporada del menú Grande Dame, que cuenta con 4 platos preparados por el chef parisino de talla mundial Thierry Marx, quien utiliza ingredientes locales.</p></li>
    <li><p>Opciones gastronómicas: elige entre una variedad de platos del menú Grande Dame/NYE, que incluye 4 platos, cócteles, champán, vino y café. Este menú incluye también opciones vegetarianas.</p></li>
    <li><p>Cenas: puedes elegir entre cenar a primera hora de la tarde o a última hora de la noche, según prefieras.</p></li>
</ul>
</main>
