<footer>
  <div>
    <p>COMO LLEGAR</p>
    <iframe src="https://www.google.com/maps/embed?pb=..." width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <div class="div-contact">
    <p>ATENCIÓN 24/7</p>
    <div class="div-telephone">
      <img src="assets/images/Whatsapp.svg" alt="whatsapp" id="whatsapp">
      <p>+542494-110199</p>
    </div>
    <div class="div-email">
      <img src="assets/images/Mail.svg" alt="email" id="email">
      <p>info@castillomorisco.com.ar</p>
    </div>
  </div>
  <div class="div-payment">
    <p>OPCIONES DE PAGO</p>
    <div class="div-payment-methods">
      <img src="assets/images/Visa.svg" alt="Visa" id="visa">
      <img src="assets/images/Amex.svg" alt="AmericanExpress" id="amex">
      <img src="assets/images/Mastercard.svg" alt="MasterCard" id="mastercard">
      <img src="assets/images/DinnerClub.svg" alt="DinnerClub" id="dinner">
    </div>
  </div>
  <div class="div-social">
    <p>REDES SOCIALES</p>
    <div class="div-socials-media">
      <a href="https://www.instagram.com/1823castillomorisco/" target="_blank"><img src="assets/images/Instagram.svg" alt="Instagram" id="instagram"></a>
      <a href="https://www.facebook.com/1823castillomorisco/" target="_blank"><img src="assets/images/Facebook.svg" alt="Facebook" id="facebook"></a>
      <a href="https://www.youtube.com/watch?v=27irAVzKmoA" target="_blank"><img src="assets/images/Youtube.svg" alt="Youtube" id="youtube"></a>
      <a href="https://twitter.com/" target="_blank"><img src="assets/images/Twitter.svg" alt="Twitter" id="twitter"></a>
    </div>
  </div>
  <div class="div-ir-arriba">
    <a href="#home"><img src="assets/images/up.svg" alt="Ir Arriba" id="up"></a>
    <p>IR ARRIBA</p>
  </div>
</footer>
