<header>
  <div class="top-bar" id="home">
    <div class="logo">
      <img class="img-logo" src="assets/images/castillo-logo.svg" alt="logo-castillo" />
      <h1>Castillo <span>MORISCO</span></h1>
    </div>
    <div class="actions">
      <button id="btn-open" title="Menú"></button>
    </div>
  </div>

  <nav class="main-nav">
    <ul>
      <li class="route"><a routerLink="/">Inicio</a></li>
      <li class="route"><a routerLink="/menus">Menús</a></li>
      <li class="route"><a routerLink="/reservas">Reservas</a></li>
    </ul>
  </nav>
</header>
