<table class="table tabla-reservas">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Personas</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservas">
      <td>{{ reserva.nombre }}</td>
      <td>{{ reserva.fecha | date:'shortDate' }}</td>
      <td>{{ reserva.hora }}</td>
      <td>{{ reserva.personas }}</td>
      <td>
        <button class="btn btn-sm btn-icon-only" (click)="verReserva(reserva.id)" title="Ver reserva">
          <i class="bi bi-eye"></i>
        </button>
    
        <button class="btn btn-sm btn-icon-only" (click)="abrirModalEdicion(reserva)" title="Editar">
          <i class="bi bi-pencil"></i>
        </button>
    
        <button class="btn btn-sm btn-icon-only" (click)="abrirModal(reserva.id)" title="Eliminar">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    

  </tbody>
</table>

<app-modal-confirmacion
  #modalConfirm
  [mensaje]="'¿Querés eliminar esta reserva?'"
  [titulo]="'Eliminar reserva'"
  (confirmado)="confirmarEliminacion()"
></app-modal-confirmacion>

<app-editar-reserva
  *ngIf="reservaEditando"
  [reserva]="reservaEditando"
  (cerrado)="cerrarModalEdicion()"
  (guardado)="guardarEdicionModal($event)">
</app-editar-reserva>

